<div class="body-outer fluid fluid-nomargin container clearfix">
    <div class="primary-outer">
        <div class="single-header fluid fluid-nomargin clearfix">
            <div class="grid8">
                <ul class="breadcrumb no-style" xmlns:v="http://rdf.data-vocabulary.org/#">
                    <li typeof="v:Breadcrumb">
                        <a rel="v:url" property="v:title" href="/">Trang chủ</a>
                        
                    </li>
                    <li typeof="v:Breadcrumb">
                        <a rel="v:url" property="v:title" href="/tim-kiem/theo-loai/?id={{tl.idLoai}}">{{tl.tenLoai}}</a>
                       
                    </li>
                     {{#each products}}
                      <li typeof="v:Breadcrumb">
                        <a rel="v:url" property="v:title" href="#">{{ten_sach}}</a>
                        
                    </li>
                </ul>
            </div>
        </div>
       
        <div class="row" itemscope="" itemtype="http://schema.org/Product">
            <div class="col-md-5">
                <div class="image-box js-image-box no-left">

                    <div class="magiczoom">

                        <a href="#" class="book-review-btn">
                            <img src="http://tala.tikicdn.com/assets/img/book-review-btn.png" height="21" width="100" alt="">
                        </a>
                        <a id="product-magiczoom" class="js-book-review-show" href="#">
                            <img itemprop="image" src="/{{hinhAnh}}">
                        </a>
                    </div>
                </div>
                <div class="social-wrapper" style="/* text-align: left; */ margin-left: 60px">
                    <div class="fb-like fb_iframe_widget" style="margin-bottom:10px; top: -5px;" data-href="#" data-width="300" data-layout="button_count"
                        data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=220558114759707&amp;container_width=413&amp;href=http%3A%2F%2Ftiki.vn%2Fdu-hanh-nguoc-thoi-gian-nguoi-la-ma-o-thanh-rome-p90325.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;width=300">
                        <span style="vertical-align: bottom; width: 139px; height: 20px;">
                            <iframe name="f1491c4204" width="300px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                                title="fb:like Facebook Social Plugin" src="http://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=220558114759707&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F44OwK74u0Ie.js%3Fversion%3D41%23cb%3Df126ab9a18%26domain%3Dtiki.vn%26origin%3Dhttp%253A%252F%252Ftiki.vn%252Ff262bef4b%26relation%3Dparent.parent&amp;container_width=413&amp;href=http%3A%2F%2Ftiki.vn%2Fdu-hanh-nguoc-thoi-gian-nguoi-la-ma-o-thanh-rome-p90325.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;width=300"
                                style="border: none; visibility: visible; width: 139px; height: 20px;" class=""></iframe>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="item-box">
                    <h1 class="item-name" itemprop="name" style="font-size: 36px;">
                        {{ten_sach}} </h1>
                    <div class="item-row1">
                        <div class="item-price">

                            <div class="item-brand">
                                <h6>Tác giả</h6>
                                <p>
                                    <a target="_blank" href="#">{{tac_gia}}</a>
                                </p>
                                <br>
                                <span>
                                    <em>Bìa Mềm</em>
                                </span>
                            </div>
                            <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="VND">
                                <meta itemprop="price" content="26000">
                            </div>
                            <p class="old-price-item" data-value="35000" id="p-listpirce">
                                <span>Giá bìa:</span>
                                <span>{{number_format giaBan}}&nbsp;₫</span>
                            </p>
                            <p class="special-price-item" data-value="26000" id="p-specialprice">
                                <span>Tại Tiki:</span>
                                <span id="span-price">{{number_format giaBan}}&nbsp;₫</span>
                                <span>(Đã có VAT)</span>
                            </p>
                            <p class="saleoff-price-item">
                                <span>Tiết kiệm:</span>
                                <span>0&nbsp;₫ (0%)</span>
                            </p>
                            <p class="partnership-price-item">
                                <span class="js-product-gift-icon" data-toggle="tooltip" data-title="Thanh toán với thẻ Visa để được giảm thêm 10%, tối đa 200.000đ/đơn hàng. Áp dụng với 100 đơn hàng đầu tiên mỗi ngày. Chương trình kéo dài đến hết 30/09/2015."
                                    data-placement="bottom" data-original-title="" title="">
                                    <img src="http://tala.tikicdn.com/assets/media/visa-price-label.png">
                                </span>
                                <span>23.400&nbsp;₫</span>
                            </p>
                            <p class="cachep-stock-left">
                                <span>Chỉ còn 2 sản phẩm</span>
                            </p>

                        </div>
                        <div class="item-other">
                            <p class="item-review-now">
                                <a id="write_review" href="#goto_write_review">Viết nhận xét để nhận Tiki Xu</a>
                            </p>
                            <div class="item-benefit">
                                <p>
                                    <span class="js-product-gift-icon" data-toggle="tooltip" data-title="Miễn phí đổi trả nếu sản phẩm hư hỏng trong 7 ngày đầu tiên (do Nhà Cung Cấp). Thông tin đầy đủ về đổi-trả-bảo hành, mời quý khách xem chi tiết."
                                        data-placement="bottom" data-original-title="" title="">Miễn phí đổi trả trong vòng 7 ngày</span>
                                    <a href="/doi-tra-de-dang" target="_blank" class="has-icon">Chi tiết</a>
                                </p>
                                <p>
                                    Xem thêm
                                    <a href="/author/nhieu-tac-gia.html">sách truyện của Nhiều Tác Giả</a> tại Tiki.vn
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item-promotion">
                        <div class="item-promotion-title">
                            <h2>Thông tin &amp; Khuyến mãi</h2>
                        </div>
                        <div class="item-promotion-content">
                            <ul class="no-left">
                                <li>
                                    <p>Với mỗi
                                        <span style="color: #ff0000;">
                                            <strong>100.000đ</strong>
                                        </span> trong đơn hàng, quý khách được tặng
                                        <span style="color: #ff0000;">
                                            <strong>300</strong>
                                        </span> Tiki Xu.</p>
                                    <a href="#freegift-popup-84" class="has-icon js-open-freegift">Chi tiết</a>
                                </li>
                                <li>Đăng ký
                                    <a target="blank" href="http://tiki.vn/bookcare">dịch vụ BookCare</a> để được bọc plastic đến 99% sách tại Tiki.vn</li>
                                <li>Nhận hàng từ
                                    <span id="delivery_time" style="color: black">2 - 3 ngày</span> , không kể Thứ 7 &amp; CN.</li>
                            </ul>
                        </div>
                    </div>
                    <!--<form role="form" id="add-to-cart" action="/checkout/ajaxAdd">-->
                    <input type="hidden" name="product_type" value="simple">
                    <div class="item-product-options">
                        <div class="quantity-box">


                            <form class="form-horizontal" id="frmAddItem" method="post" action="/cart/add">
                                <!--&lt;!&ndash;&ndash;&gt;        <input type="hidden" id="txtP" name="proId" />-->
                                <input id="idSach" name="idSach" type="hidden" value="{{idSach}}">


                                <div class="quantity-col2">
                                    <p class="quantity-label">Số lượng:</p>
                                    <div class="quantity-col1">
                                        <p class="tiki-number-input">
                                            <div class="input-group bootstrap-touchspin">
                                                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                <input id="sl" type="number" name="sl" value="1" min="1" max="100" class="form-control" style="display: block; color: red;">
                                                <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                            </div>
                                        </p>
                                    </div>
                                    <button class="add-to-cart js-add-to-cart is-css" type="submit" data-original-title="">
                                        <span class="text">
                                            Thêm Vào Giỏ Hàng
                                        </span>
                                    </button>


                                </div>
                            </form>
                        </div>
                    </div>
                    <!--</form>-->
                </div>
                
            </div>
        </div>
        <h1 style="font-size: 26px;font-weight: bold;margin-bottom: 22px;">Mô tả sách</h1>
        <p style="font-size: 20px;margin-bottom: 22px;"> {{moTa}}</p>
        {{/each}}



        <div class="content-block-inner home-block category-content-slider">
            <div class="block-inner-bar block-inner-tab-outer clearfix">
                <ul class="block-inner-tab float-left home-aj-tab">
                    <li class="current">
                        <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="color: #0d80e8;">Sách cùng thể loại</a>
                    </li>
                </ul>
                <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                    <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next prev" style="display: inline;">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next next" style="display: inline;">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="bar-more-button float-right">
                </div>
            </div>
            <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style=" margin: auto; display: block;">
                <div id="owl-demo" class="owl-cachep-book-lib ">
                    {{#each kind}}
                    <div class="item" style="width: 120px;">
                        <li class="item-outer">
                            <a class="item-thumb" href="./?id={{idSach}}" rel="nofollow">
                                <img width="200" height="280" src="/{{hinhAnh}}" class="attachment-thumbnail-rectangle wp-post-image" alt="nhumuadongroixuong">

                            </a>
                            <div class="item-meta-outer">
                                <h3 class="item-title">
                                    <a href="./?id={{idSach}}">{{ten_sach}}</a>
                                </h3>
                                <em class="item-author">{{tac_gia}}</em>
                                <p class="item-price">
                                    <strong>{{number_format giaBan}}
                                        <u>đ</u>
                                    </strong>

                                </p>
                            </div>
                        </li>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="content-block-inner home-block category-content-slider">
            <div class="block-inner-bar block-inner-tab-outer clearfix">
                <ul class="block-inner-tab float-left home-aj-tab">
                    <li class="current">
                        <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="color: #0d80e8;">Sách cùng nhà xuất bản</a>
                    </li>
                </ul>
                <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                    <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next prev" style="display: inline;">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next next" style="display: inline;">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="bar-more-button float-right">
                </div>
            </div>
            <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="margin: auto; display: block;">
                <div id="owl-demo" class="owl-cachep-book-lib ">
                    {{#each nxb}}
                    <div class="item" style="width: 120px;">
                        <li class="item-outer">
                            <a class="item-thumb" href="./?id={{idSach}}" rel="nofollow">
                                <img width="200" height="280" src="/{{hinhAnh}}" class="attachment-thumbnail-rectangle wp-post-image" alt="nhumuadongroixuong">

                            </a>
                            <div class="item-meta-outer">
                                <h3 class="item-title">
                                    <a href="./?id={{idSach}}">{{ten_sach}}</a>
                                </h3>
                                <em class="item-author">{{tac_gia}}</em>
                                <p class="item-price">
                                    <strong>{{number_format giaBan}}
                                        <u>đ</u>
                                    </strong>

                                </p>
                            </div>
                        </li>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>